.App {
  /* margin-top: 2em; */
  /* text-align: center; */
  font-size: 1em;
  display: flex;
  /* flex-direction: column; */
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#container {
	margin: 0px auto;
	/* width: 100vw;
	height: 100vh; */
  /* border: 10px #333 solid; */
}
#videoElement {
  /* width: 100%; */
  transition-property: height, width, transform;
  transition-duration: .2s;
  overflow: scroll;
  display: flex;
  justify-content: center;
  object-fit: cover; 
	background-color: #666;
  transform: rotate(0deg);

}