.App {
  /* margin-top: 2em; */
  /* text-align: center; */
  font-size: 1em;
  display: flex;
  /* flex-direction: column; */
  /* -webkit-user-select: none;
  -webkit-app-region: drag; */
  /* background-color: #666666; */
  position: relative;
  margin: 0px auto;
  -webkit-user-select: none;
}


.drag {
  position: absolute;
  height: 100px;
  width: calc(100% - 60px);
  -webkit-app-region: drag;
  z-index: 1;
  /* background-color: #666666; */
  /* pointer-events: auto; */
}
