.App {
  /* margin-top: 2em; */
  /* text-align: center; */
  font-size: 1em;
  display: flex;
  /* flex-direction: column; */
  -webkit-user-select: none;
  -webkit-app-region: drag;
  /* background-color: #666666; */
  position: relative;
  margin: 0px auto;

}


#videoElement {

  transition-property: height, width, transform;
  transition-duration: .2s;
  overflow: scroll;
  display: flex;
  justify-content: center;
  object-fit: cover; 



}