.HUD {
    position: fixed;
    bottom: 1em;
    /* left: 10px;  */
}

.HUD button, .HUD select {
    border: 1px solid #dddddd;
    background-color: #111111bb;
    color: #ffffff;
    border-radius: .1em;
    margin: .1em;
    padding: .3em;
}

button.snapshot, button.close-snapshot {
    position: fixed;
    top: 1em;
    right: 1em;
    /* background-color: #ff0000; */
    border-width: 2px;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center
}

button.snapshot {
    background-color: #ff0000;
    border-radius: 50%;
}

button.close-snapshot {
    background-color: #ff0000;
    pointer-events: none;
}