.sidebar-icon {
    color: #ffffffaa;
    /* font-size: 20px; */
    position: fixed;
    left: 90px;
    top: 13px;
    padding: 0px 4px 4px 4px;
    border-radius: 4px;
}

.sidebar-icon:hover {
    background-color: #aaaaaaaa;

}