.sidebar-icon {
    transition: background-color .1s;
    color: #ffffffaa;
    /* font-size: 20px; */
    position: fixed;
    left: 90px;
    top: 13px;
    padding: 0px 4px 4px 4px;
    border-radius: 4px;
    z-index: 10;
}

.sidebar-icon:hover {
    background-color: #555555dd;

}