img {
    width: 100%;
}

.delete {
    transition: opacity 0.2s;
    position: absolute;
    background-color: #ff0000;
    border: 1px solid #ffffff;
    color: #ffffff;
    left: -6px;
    top: -6px;
    font-size: .8em;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
}
